<% if (friend.username) { %>
    <div class="chat-interface">
    <div class="chat-interface-head">
        <div class="user-profile">
            <img src="<%= friend.profile_image %>" />
        </div>
        <div class="friend-details" data-uuid="<%= friend.uuid %>">
            <div class="name"><%= friend.username %></div>
            <div class="last-message"><%= friend.last_message %></div>
        </div>
    </div>

    <%- include('chatBody', {friend:friend, chats: chats}); %>
    </div>

    <div class="custom-file-container" data-upload-id="myUploader">
        <div style="display: none;">
        <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">&times;</a>
        <label class="custom-file-container__custom-file">
            <input
                type="file"
                class="custom-file-container__custom-file__custom-file-input"
                accept="*"
                multiple
                aria-label="Choose File"
            />
            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
            <span
                class="custom-file-container__custom-file__custom-file-control"
            ></span>
        </label>
        </div>
        <div class="custom-file-container__image-preview" style="overflow-x: hidden;"></div>
    </div>
    <span id="interim_span"></span>
    <form class="msger-inputarea">
        <input type="text" id="final_span" class="msger-input" placeholder="Enter your message..." name="message">
        <i id="file-upload" class="fa fa-paperclip" aria-hidden="true" style="font-size: 25px;padding: 5px;display: flex;
        align-self: center;"></i>
        <button type="submit" class="msger-send-btn">Send</button>
    </form>
<% } else { %>

<% } %>