<% if (friend.username) { %>
    <div class="chat-interface">
    <div class="chat-interface-head">
        <div class="user-profile">
            <img src="<%= friend.profile_image %>" />
        </div>
        <div class="friend-details" data-uuid="<%= friend.uuid %>">
            <div class="name"><%= friend.username %></div>
            <div class="last-message"><%= friend.last_message %></div>
        </div>
    </div>

    <%- include('chatBody', {friend:friend, chats: chats}); %>
    </div>
    <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message..." name="message">
        <button type="submit" class="msger-send-btn">Send</button>
    </form>
<% } else { %>

<% } %>