<li class="friend-list" data-uuid="<%= friend.uuid %>">
    <div class="friend-chat-head <%= usersContacted && usersContacted.includes(friend.uuid) ? 'highlight' : '' %>">
        <div class="user-profile">
            <img src="<%= friend.profile_image %>">
        </div>
        <div class="details">
            <div class="name">
                <%= friend.username %>
                <i class="fas fa-toggle-<%= onlineUsers[friend.uuid] != undefined ? 'on' : 'off' %> online-status"></i>
            </div>
            <div class="last-message">
                <%= friend.chat ? (friend.chat.message.slice(0, 40) + (friend.chat.message.length > 40 ? "..." : "")) : "" %>
            </div>
        </div>
        <div class="other-details">
            <div class="last-message-date">
                <% if (friend.chat) { %>
                    <%= new Date(friend.chat.createdAt).toUTCString().substring(17,22) %>
                <% } %>
            </div>
        </div>
    </div>
</li>